.__video-resolution {
  position: relative;
}
.__video-resolution li {
  list-style-type: none;
}
.__video-resolution p,
.__video-resolution ul {
  margin: 0;
  padding: 0;
}

.__video-resolution .wrapper-resolution-selected {
  font-size: 9px;
  color: rgba(0,0,0, 0.9);
  background-color: rgba(255,255,255,0.8);
  padding: 4px 6px;
  font-weight: 600;
  border-radius: 5px;
}
.__video-resolution .wrapper-resolution-selected.is-active {
  background-color: #2DAAED;
}

.__video-resolution .resolution-list {
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  display: none;
}
.__video-resolution .wrapper-resolution-selected.is-active ~ .resolution-list {
  display: flex;
  flex-direction: column;
  bottom: 100%;
  padding: 15px 20px;
  font-size: 16px;
}
.__video-resolution .resolution-list .wrapper-resolution-list {
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  padding: 14px 0;
}

.__video-resolution .resolution-item {
  padding: 7px 10px;
  display: flex;
}
.__video-resolution .resolution-item:hover {
  background-color: rgba(95,95,95,0.8);
}
.__video-resolution .resolution-item::before {
  min-width: 15px;
  content: '';
}
.__video-resolution .resolution-item.selected::before {
  content: '\e986';
}
.__video-resolution .resolution-item p {
  margin-left: 13px;
  display: flex;
}
.__video-resolution .resolution-item p::after {
  content: '';
  min-width: 15px;
  height: auto;
}
.__video-resolution .resolution-item p.vip::after {
  content: '\e937';
  color: #FFC40E;
  font-size: 12px;
}