.__video-player .wrapper {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative
}
/* mask container */
.__video-player .wrapper .mask-play-container {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all .4s ease;
  opacity: 1;
}
.__video-player .wrapper .mask-play-container.hide {
  opacity: 0;
}
.__video-player .wrapper .mask-play-container img {
  width: 46px;
}
.__video-player .wrapper .mask-play-container div {
  display: flex;
}
.__video-player .wrapper .mask-play-container div::before {
  content: '';
  background-image: url('../../assets/icons/ic_play.png');
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  width: 50px;
  height: 57px;
  transition: all .2s ease;
}
.__video-player .wrapper .mask-play-container.hide div::before {
  width: 0;
  height: 0;
}
.__video-player .wrapper .mask-play-container.thumbnail {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* video */
.__video-player .wrapper video {
  display: flex;
  cursor: pointer;
}

/* Control group */

.__video-player .proccess-control-bar {
  visibility: hidden;
  display: flex;
  width: 0;
}
.__video-player .video:hover ~ .proccess-control-bar, 
  .__video-player .proccess-control-bar:hover {
  visibility: visible;
  display: flex;
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
}
.__video-player .proccess-control-bar .control-group {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.__video-player .proccess-control-bar .controls-left {
  display: flex;
  font-weight: 300;
}
.__video-player .proccess-control-bar .control-item {
  display: flex;
  align-items: center;
  height: 100%;
}
.__video-player .proccess-control-bar label {
  font-size: 12px;
}
.__video-player .proccess-control-bar .control-item div {
  display: flex;
  height: 100%;
  min-width: 37px;
  cursor: pointer;
}
.__video-player .proccess-control-bar .control-item div::before {
  content: '';
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: center;
  width: 100%;
}
.__video-player .proccess-control-bar .play-control::before {
  background-image: url('../../assets/icons/ic_play.png');
}
.__video-player .video.playing ~ .proccess-control-bar .play-control::before {
  background-image: url('../../assets/icons/ic_pause.png');
}
.__video-player .proccess-control-bar .next-control::before {
  background-image: url('../../assets/icons/ic_next.png');
}
.__video-player .proccess-control-bar .volume-control::before {
  background-image: url('../../assets/icons/ic_volume.png');
  background-size: 37px !important;
}
.__video-player .proccess-control-bar .fullscreen-control::before {
  background-image: url('../../assets/icons/ic_fullscreen.png');
  background-size: 19px !important;
}