@keyframes playLarge {
  0% {transform: scale(1);}
  25% {transform: scale(1.2);}
  100% {transform: scale(0);}
}

.container-loader {
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.loader {
  border: 5px solid rgba(243, 243, 243, 0.5);
  border-radius: 50%;
  border-top: 5px solid #2daaed;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.loader.big {
  border: 16px solid rgba(243, 243, 243, 0.5);
  border-top: 16px solid #2daaed;
  width: 80px;
  height: 80px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.__video-player {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.__video-player .wrapper {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
  color: #ffffff;
}
.__video-player .wrapper .video {
  width: 100%;
  height: 100%;
}
/* mask container */
.__video-player .wrapper .mask-play-container {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all .5s ease;
  opacity: 1;
}
.__video-player .wrapper .mask-play-container.hide {
  opacity: 0;
}
.__video-player .wrapper .mask-play-container img {
  width: 46px;
}
.__video-player .wrapper .mask-play-container div {
  display: flex;
}
.__video-player .wrapper .mask-play-container div::before {
  font-size: 65px;
}
.__video-player .wrapper .mask-play-container.hide div::before {
  transform: scale(0);
  animation-name: playLarge;
  animation-duration: .5s;
}
.__video-player .wrapper .mask-play-container.thumbnail {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* video */
.__video-player .wrapper video {
  display: flex;
  /* cursor: pointer; */
}

/* Control group */

.__video-player .proccess-control-bar,
  .__video-player .video.playing ~.proccess-control-bar {
  visibility: hidden;
  display: none;
  flex-direction: column;
  padding-bottom: 10px;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}

.__video-player .proccess-control-bar .process-bar {
  display: flex;
  position: relative;
  width: calc(100% - 14px);
  height: 6px;
  align-items: center;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 8px;
  cursor: pointer;
}

.__video-player .proccess-control-bar .process-bar .__pull-bar {
  height: 50%;
}

.__video-player .proccess-control-bar .process-bar:hover .__pull-bar,
  .__video-player .proccess-control-bar .process-bar .__pull-bar.is-pulling  {
  height:100%;
}

.__video-player .proccess-control-bar .process-bar .video-preview {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

.__video-player .proccess-control-bar .process-bar .video-preview p {
  position: absolute;
  bottom: 0;
  margin: 0;
  background-color: rgba(0,0,0,0.5);
  padding: 3px;
  font-size: 14px;
  font-weight: 500;
}

.__video-player .video:hover ~ .proccess-control-bar, 
  .__video-player .mask-play-container:hover ~ .proccess-control-bar,
  .__video-player .video.playing ~ .proccess-control-bar:hover,
  .__video-player .video ~ .proccess-control-bar {
  visibility: visible;
  display: flex;
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.__video-player .video .proccess-control-bar:hover {
  display: flex !important;
  visibility: visible !important;
  width: 100% !important;
}

.__video-player.is-fullscreen .proccess-control-bar.hidden {
  display: none;
  width: 0;
  visibility: hidden;
}

.__video-player .proccess-control-bar.is-controlling,
.__video-player .video.playing ~.proccess-control-bar.is-controlling  {
  visibility: visible;
  width: 100%;
  display: flex;
}
.__video-player .proccess-control-bar .control-group {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}
.__video-player .proccess-control-bar .controls {
  display: flex;
  font-weight: 300;
}
.__video-player .proccess-control-bar .control-item {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 8px;
}
.__video-player .proccess-control-bar label {
  font-size: 16px;
  /* font-weight: 500; */
}
.__video-player .proccess-control-bar label span {
  opacity: 0.6;
}
.__video-player .proccess-control-bar .control-item > div {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
  padding: 0 8px;
  cursor: pointer;
}
.__video-player .proccess-control-bar .control-item.ic > div::before {
  font-size: 18px;
  color: #9e9e9e;
}
.__video-player .proccess-control-bar .control-item.ic .play-control::before {
  font-size: 25px !important;
}
.__video-player .proccess-control-bar .control-item.ic .pip-control::before {
  content: '\e98a';
  font-size: 23px;
}
.__video-player .proccess-control-bar .control-item:hover > div::before {
  color: #fff;
}

.__video-player .proccess-control-bar .wrapper-pullbar {
  width: 0;
  opacity: 0;
  height: 6px;
  transition: all .2s linear;
}
.__video-player .proccess-control-bar .volume-control .volume-bar {
  display: flex;
  align-items: center;
}
.__video-player .proccess-control-bar .volume-control:hover .volume-icon::before {
  color: #fff;
}

.__video-player .proccess-control-bar .volume-control .volume-bar .__pull-bar {
  height: 50%;
}

.__video-player .proccess-control-bar .volume-control:hover .wrapper-pullbar,
.__video-player .proccess-control-bar .volume-control.is-controlling .wrapper-pullbar {
  opacity: 1;
  width: 70px;
}
.__video-player .video.playing ~ .proccess-control-bar .play-control::before {
  content: '\e926';
}
.__video-player .proccess-control-bar .volume-control .volume-icon {
  margin-right: 7px;
  font-size: 22px;
  color: #9e9e9e;
}
.__video-player .proccess-control-bar .volume-control .volume-icon.muted::before {
  content: '\e970';
}
.__video-player .proccess-control-bar .volume-control .volume-icon.min::before {
  content: '\e9b0';
}

.__video-player .proccess-control-bar .volume-control .volume-icon.max::before {
  content: '\e971';
}

/* fullscreen */
.__video-player.is-fullscreen .control-group .fullscreen-control::before {
  content: '\e959';
}

#listeningKeyPress {
  width: 0 !important;
  height: 0 !important;
  position: fixed;
}