/* #2daaed */
.__pull-bar {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  transition: height .2s ease;
}

.__pull-bar .wrapper {
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*transition: all .2s;*/
}

.__pull-bar .bar-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.3);
}
.__pull-bar .bar-bg .bar-bg-loaded {
  height: 100%;
  background-color: rgba(255,255,255,0.7);
}

.__pull-bar .wrapper:hover .bar-bg {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
}

.__pull-bar .bar-current {
  /* width: ; */
  position: absolute;
  display: flex;
  justify-content: flex-end;
  z-index: 100;
  left: 0;
  height: 100%;
  /* background-color: #2daaed; */
  background-image: linear-gradient(to right, #2daaed 0%, #4ac0ff 100%);
}
.__pull-bar .bullet-control {
  position: absolute;
  opacity: 0;
  z-index: 101;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #2daaed;
  cursor: pointer;
  transition: opacity .15s ease;
}
.__pull-bar .bullet-control:hover,
  .__pull-bar.is-pulling .bullet-control {
  background-color: #ffffff;
}

.__pull-bar .wrapper:hover .bullet-control,
  .__pull-bar.is-pulling .bullet-control {
  opacity: 1;
}